<!-- home.html Revisar -->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        <main class="container">
            <div class="card" id="jogar" data-rota="/jogar">
                <span>Jogar</span>
            </div>

            <div class="card" id="inventario" data-rota="/inventario">
                <span>Inventario</span>
            </div>

            <div class="card" id="cartas_diarias" data-rota="/cartas_diarias">
                <span>Cartas Diárias</span>
            </div>

            <div class="card" id="reforjar" data-rota="/reforja">
                <span>Reforjar Carta</span>
            </div>

            <div class="card" id="fundir" data-rota="/fundicao">
                <span>Fundir Cartas</span>
            </div>

            <button class="btn-logout" id="btn-logout">Log-out</button>
        </main>

        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    </body>
</html>
