<!-- reforja.html Revisar -->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Reforja</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reforja.css') }}">
    </head>
    <body>
        <main class="container-reforja">
            <section class="painel-esquerdo">
                <div class="carta carta-ativa" id="carta-reforja">
                    <h3 class="titulo">Carta Base</h3>
                    <div class="imagem-container">
                        <div class="placeholder">+</div>
                    </div>
                    <div class="stats"></div>
                </div>

                <div class="carta carta-vazia" id="carta-resultado">
                    <h3 class="titulo">Resultado</h3>
                    <div class="imagem-container">
                        <div class="placeholder">?</div>
                    </div>
                    <div class="stats"></div>
                </div>

            </section>

            <section class="painel-direito">
                <button class="btn" id="btn-reforjar">REFORJAR</button>
                <button class="btn" id="btn-retornar">RETORNAR</button>
            </section>
        </main>

        <script type="module" src="{{ url_for('static', filename='js/reforja.js') }}"></script>
    </body>
</html>
